<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="icon" href="images/faviconsannyweb.png">
    <title>Contatos</title>
</head>
<body>
<div class="menu">
    <div class="opt down">Adicionar Contato</div>
    <div class="opt down">Listar contatos</div>
    <!-- <div class="opt"></div> -->
    <input class="opt search" type='text' placeholder='Nome, Sobrenome, Email...'>
    <div class="opt down">Sair</div>    
</div>
<div class="container">
    <div class="cadastrar">
        <% if(adc=='sucess'){ %>
			<div class="msg">
				<p style="color: black; text-align: center; font-size: 1.8em; background-color: rgb(179, 248, 183);">Novo contato salvo com sucesso!</p>
			</div>
        <% } %>
        <% if(adc=='apagado'){ %>
			<div class="msg">
				<p style="color: black; text-align: center; font-size: 1.8em; background-color: rgb(179, 248, 183);">Contato apagado com sucesso</p>
			</div>
        <% } %>
        <% if(adc=='atualizado'){ %>
			<div class="msg">
				<p style="color: black; text-align: center; font-size: 1.8em; background-color: rgb(179, 248, 183);">Contato alterado com sucesso!</p>
			</div>
        <% } %>
        <% if(adc=='missdates'){ %>
			<div class="msg">
				<p style="color: black; text-align: center; font-size: 1.8em; background-color: rgb(255, 200, 200);">Alguns campos não podem estar vazios</p>
			</div>
        <% } %>
            


         <% if(erros.length>0){ %>
            <div class="erros" style="background-color: rgba(255, 172, 172); color: black; font-size: 1.4em; padding: 2px;">
                <ul>
                    <% for(var i=0;i<erros.length;i++){ %>
                    <li><%=erros[i].msg%></li>
                    <% }%>
                </ul>
            </div> 
            <% }%>    
            <form action="salvarContato" method="POST">
                <div class="sign"><article class="side-1">
                    <label>Nome: </label>
                    <input type="text" name="nome" placeholder="Nome">
                    <label>Sobrenome: </label>
                    <input type="text" name="sobrenome" placeholder="Sobrenome">
                    <label>Idade: </label>
                    <input type="text" name="idade" placeholder="Idade">
                    <label>Email: </label>
                    <input type="text" name="email" placeholder="Email">
                    <label>Cidade: </label>
                    <input type="text" name="cidade" placeholder="Cidade">
                    <label>Redes: </label>
                    <input type="text" name="redes" placeholder="Link do Facebook, Instagram, Twitter..."></article>
                    <input type="button" value="Adicionar outra rede social">
                </div>
                <div class="sign"><article class="side-2">
                    <label>Bairro: </label>
                    <input type="text" name="bairro" placeholder="Bairro">
                    <label>Rua: </label>
                    <input type="text" name="rua" placeholder="Rua">
                    <label>Endereço: </label>
                    <input type="text" name="endereco" placeholder="Endereço">
                    <label>Sexo: </label>
                    <input type="text" name="sexo" placeholder="Sexo">
                    <label>Complementar: </label>
                    <input type="text" name="complementar" placeholder="Complementar">
                    <label>Numero: </label>
                    <input type="text" name="numeros" placeholder="Numero"></article>  
                    <input type="button" value="Adicionar outro numero">  
                </div>
                    <input type="submit" value="Salvar Contato">
                </form>
        </div>
</div>  
    <footer style="margin-bottom: 50px;">
        <img alt="SannyWeb" src="images/SannyWeb.png">
        <p class="shouldbefooter">Este é um simples projeto de gerenciamento de Contatos trabalhando com tecnologias como NodeJS com framework Express, padrão MVC, módulos como Consign e outros, se utilizando do banco de dados MongoDB. Projeto para aperfeiçoar técnicas e aprendizados obtidos com estudo tanto front-end como back-end e a manipulação de dados com um CRUD. Feito por Ruan Barroso em nome de sua empresa SannyWeb.</p> 
    </footer>

    <% if(maisContato==true){ %>
        <div class="absort">
            <div class="blow">
                <span class="closes"><span>X</span></span>
                <input class="newbtsout" type="button" value="Deseja editar? Clique aqui">
                <form action="editarContato" method="POST" class="satis">
                    <div class="viewmore">
                        <p><strong>Nome</strong>: <input disabled type="text" class="advante" name="nome" value="<%=contato.nome%>"></p>
                        <p><strong>Sobrenome</strong>: <input disabled type="text" class="advante" name="sobrenome" value="<%=contato.sobrenome%>"></p>
                        <p><strong>Idade</strong>: <input disabled type="text" class="advante" name="idade" value="<%=contato.idade%>"></p>
                        <p><strong>Email</strong>: <input disabled type="text" class="advante" name="email" value="<%=contato.email%>"></p>
                        <p><strong>Cidade</strong>: <input disabled type="text" class="advante" name="cidade" value="<%=contato.cidade%>"></p>
                        <% if(Array.isArray(contato.redes)){%>
                            <% for(var i=0;i<contato.redes.length;i++){ %>
                                <p><strong>Redes</strong>: <input disabled type="text" class="advante" name="redes" value="<%=contato.redes[i]%>"></p>
                            <% } %>
                        <% } else { %>
                                <p><strong>Redes</strong>: <input disabled type="text" class="advante" name="redes" value="<%=contato.redes%>"></p>
                        <% } %>
                    </div>
                    <div class="viewmore">
                        <p><strong>Bairro</strong>: <input disabled type="text" class="advante" name="bairro" value="<%=contato.bairro%>"></p>
                        <p><strong>Rua</strong>: <input disabled type="text" class="advante" name="rua" value="<%=contato.rua%>"></p>
                        <p><strong>Endereço</strong>: <input disabled type="text" class="advante" name="endereco" value="<%=contato.endereco%>"></p>
                        <p><strong>Sexo</strong>: <input disabled type="text" class="advante" name="sexo" value="<%=contato.sexo%>"></p>
                        <p><strong>Complementar</strong>: <input disabled type="text" class="advante" name="complementar" value="<%=contato.complementar%>"></p>
                        <% if(Array.isArray(contato.numeros)){%>
                            <% for(var i=0;i<contato.numeros.length;i++){ %>
                                <p><strong>Numeros</strong>: <input disabled type="text" class="advante" name="numeros" value="<%=contato.numeros[i]%>"></p>
                            <% } %>
                        <% } else { %>
                            <p><strong>Numeros</strong>: <input disabled type="text" class="advante" name="numeros" value="<%=contato.numeros%>"></p>
                        <% } %>
                        <p><strong></strong><input type="hidden" class="advantes" name="_id" value="<%=contato._id%>"></p>
                        <input class="newbts" type="submit" value="Salvar edições!">
                    </div>
                </form>   
            </div>
        </div>
        <% } %>

</body>
<script src="js/home.js"></script>
</html>