<% if(contatos.length>0) { %>
<div class="contatos">
    <div class="more">Nome</div>
    <div class="more">Sobrenome</div>
    <div class="more">Email</div>
    <div class="more">Cidade</div>
    <div class="more"> </div>
    <div class="more"> </div>
</div>
<% } %>
    <% for(var i=0;i<contatos.length;i++) { %>  
        <div class="contatos"> 
                <div class="more"><%=contatos[i].nome%></div>
                <div class="more"><%=contatos[i].sobrenome%></div>
                <div class="more"><%=contatos[i].email%></div>
                <div class="more"><%=contatos[i].cidade%></div>
                <a href="home?maisContato=<%=contatos[i]._id%>" id="<%=contatos[i]._id%>" class="more info">Ver Mais</a>
                <!-- <div id="<%=contatos[i]._id%>" class="more info">Ver Mais</div> -->
                <a href="deletar?idContato=<%=contatos[i]._id%>" class="more">Deletar</a>
        </div>
    <% } %>

   
